@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #4a90e2;
  --color-secondary: teal;
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;

  --color-primary: grey;
  --color-secondary: teal;
}